html {
    background-color: var(--bgColor);
    font-family: 'Open Sans';
    font-size: 1rem;
}

:root {
    --red: #eb0303;
    --redDark: #ab0d0e;
    --textColor: #EEEEEE;
    --bgColor: #181A1B;
    --hightlightColor: #202324;
    --hightlightColorIntense: #424546;
    --hoverColor: #2B2F31;
    --selectedColor: #35393B;
    --highlightedColor: #63FAC3;
    --brightHoverColor: #4aaf8b;
    --brightHighlightColor: #397e66;
    font-size: 18px!important;
}

.attachment {
    margin-left: 20px;
    max-width: 90%;
}

.username {
    font-weight: bold;
    display: inline;
}

a {
    color: var(--highlightedColor);
    cursor: pointer;
    text-decoration: underline;
}

#messages {
    overflow-y: scroll;
    height: calc(100vh - 100px);
    border: 1px solid var(--highlightedColor);
    border-radius: 5px;
    padding: 10px;
}

b {
    color: var(--highlightedColor);
}

h1 {
    color: var(--highlightedColor);
}

h2 {
    color: var(--highlightedColor);
}

h3 {
    color: var(--highlightedColor);
}

h4 {
    color: var(--highlightedColor);
}

.textbox {
    visibility: visible;
    border-radius: 5px;
    background-color: var(--bgColor);
    padding: 2px;
    outline-width: 0;
    width: fit-content;
    margin-top: 5px;
}

body {
    margin: 0;
    color: var(--textColor);
    line-height: 1.8;
}

.content {
    position: relative;
    padding: 10px;
}

input {
    color: var(--textColor);
    transition: ease-in-out 0.2s;
    border-radius: 5px;
    border: 1px solid var(--textColor);
    background-color: var(--bgColor);
    padding: 5px;
    outline-width: 0;
    border: 1px solid var(--brightHoverColor);
}


input:hover {
    border: 1px solid var(--highlightedColor);
    
}

input[type=button]:hover {
    color: var(--highlightedColor);
}

input:focus {
    border: 1px solid var(--highlightedColor);
    background-color: var(--bgColor);
}

input[type=button] {
    color: var(--brightHoverColor);
    height: fit-content;
    width: fit-content;
    font-size: .8em;
}